<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Documents repository for FRC Teams">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RobotArk</title>

    <link rel="stylesheet" href="/static/stylesheets/h5bp.min.css">
    <link rel="stylesheet" href="/static/stylesheets/components/components.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css">

    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.11.0.min.js"></script>

</head>

<body>
    <header class="app-bar promote-layer">
        <div class="app-bar-container">
            <button class="menu">
                <img src="/static/images/hamburger.svg" alt="Menu">
            </button>
            <img class="logo" src="/static/images/logo.png">
            <section class="app-bar-actions">
                <!-- Put App Bar Buttons Here -->
            </section>
        </div>
    </header>

    <nav class="navdrawer-container promote-layer">
        <h4>Navigation</h4>
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/electronics">Electronics</a>
            </li>
            <li><a href="/programming">Programming</a>
            </li>
            <li><a href="/mechanics">Mechanics</a>
            </li>
            <li><a href="/cad">CAD</a>
            </li>
            <li><a href="/team">Team</a>
            </li>
            <li><a href="/upload">Upload</a>
            </li>
            <li>{% if user %}<a href="/me">Me</a>{% else %} <a href="{{ users.create_login_url() }}">Login</a>{% endif %}</li>
        </ul>
    </nav>

    <main>
        <br>
        <form action="/search" method="get">
            <input type="text" name="query" required>
            <select name="category">
                <option value="title">Title</option>
                <option value="subtitle">Subtitle</option>
                <option value="author">Team</option>
            </select>
            <button>Search</button>
        </form>
        {% for c in category %}
            {% if c == 'cad' %}
                <h2>CAD</h2>
            {% else %}
                <h2>{{ c.capitalize() }}</h2> 
            {% endif %}
        {% endfor %} 
        {% if search %}
            <h2>Search results for {{ query }}</h2>
        {% endif %}
        <div id="subcategories">
            <ul>
                    {% if isinstance(nested, str) %}
                        
                        <li>{{ n }}</li>
                    {% else %} 
                    {% if isinstance(nested, list) %}
                        
                        {% for v in nested %}
                            <li><a href="{{ base }}/{{ v }}">{{ v.capitalize() }}</a>
                            </li>
                        {% endfor %} 
                    {% else %}
                    {% if isinstance(nested, dict) %}
                        
                        {% if len(nested) == 1 %}
                            <li>len == 1</li>
                            {% for k, v in nested.items() %}
                                <li><a href="{{ base }}/{{ v }}">{{ v }}</a>
                                </li>
                            {% endfor %} 
                        {% else %}
                            
                            {% for k, v in nested.items() %}
                                {% if isinstance(v, dict) or isinstance(v, list) %}
                                    <li><a href="{{ base }}/{{ k }}">{{ k.capitalize() }}</a>
                                    </li>
                                {% else %}
                                    <li><a href="{{ base }}/{{ v }}">{{ v }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <!-- NoneType received?????? -->
                    {% endif %}
                    {% endif %}
                    {% endif %}
            </ul>
        </div>
        <br>
        <div id="post_area">
            <ul id="posts">
                {% for post in posts %}
                <li>
                    <table>
                        <tr>
                            <td><a href="/link/{{ post.doc_id }}">{{ post.title[0].value }}</a>
                            </td>
                            <td><span class="tba">TBA</span>
                                <a href="http://www.thebluealliance.com/team/{{ parse(post.author[0].value) }}">
                                {{ post.author[0].value }}
                              </a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ post.subtitle[0].value }}</td>
                            <td><a href="{{ post.file_key[0].value }}">Download here</a>
                            </td>
                        </tr>
                        {% if users.is_current_user_admin() %}
                        <tr>
                            <td>
                                <form action="/delete" method="post">
                                    <input type="hidden" name="id" value="{{ post.doc_id }}">
                                    <button>Delete</button>
                                </form>
                            </td>
                            <td>
                                Poster {{ post.poster_name[0].value }}
                            </td>
                        </tr>
                        {% if review %}
                        <tr>
                            <td>
                                <form action="/approve" method="post">
                                    <input type="hidden" name="id" value="{{ post.doc_id }}">
                                    <button>Approve</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %} {% endif %}
                    </table>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>
        <a href="https://facebook.com/TeamUnderControl1156"><img src="/static/images/Facebook.png">
        </a>
        <a href="https://instagram.com/UnderControl1156"><img src="/static/images/Instagram.png">
        </a>
        <a href="https://twitter.com/UnderCtrl1156"><img src="/static/images/Twitter.png">
        </a>
        <a href="https://github.com/undercontrol1156/"><img src="/static/images/Github.png">
        </a>
        &nbsp; - &nbsp; Developed by <a href="http://undercontrol1156.com">FRC Team #1156 Under Control</a> &nbsp; - &nbsp; <a href="/about">About</a> {% if users.is_current_user_admin() %} &nbsp; - &nbsp; <a href="/review">Review</a> {% endif %}
    </footer>
    <script src="/static/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49241103-3', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
</body>

</html>
